*{
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;

}
.Loggan{
font-size: 200%;
margin-right: 50px;
}
a{
text-decoration: inherit;
}
nav{
  color: white;
  border-bottom: 3px solid white;
}
.hel{
  width: 100%;
}
.nav{
  width: 66.7%;
  background-color: 	#faff4c;
}
.nav1{
  flex: 1;
  float: right;
  background-color: #faff4c;
  border-bottom: 3px solid white;
}
.nav a{
  color:  black;
  margin: 35px;
}
header{
  display: flex;
}

.vänster1, .vänster4, .vänster5, .vänster2{
  background-color: 	#eb9648;
}
.vänster3, .vänster6{
 background-color: #faff4c;
}
.vänster4 h1{
  font-size: 40px;
  color: #faff4c;
  margin: 20px;

}
main{
  background-color: 	#faff4c;

}
.grid main{
  grid-row: 2 / 3;
  grid-column: 2/4;
}

main img {
  width: 90%;
  height: 110%;
  
}
.grid{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100% 300px 100%;
}
.secound {
  height: 100%;
  background-color: red;
}