*{
  margin: 0;
  box-sizing: border-box;

}
.Loggan{
font-size: 200%;
margin-right: 50px;
}
a{
text-decoration: inherit;
}
nav{
  border-bottom: 3px solid white;
}
.hel{
  width: 100%;
}
.nav{
  width: 66.7%;
  color: white;
  background-color: 	#0c0b2c;
}
.nav1{
  flex: 1;
  float: right;
  background-color: #1b1b20;
  border-bottom: 3px solid white;
}
.nav a{
  color:  white;
  margin: 35px;
}
header{
  display: flex;
}

.vänster1, .vänster4, .vänster5, .vänster2{
  background-color: 	#0c0b2c;
  color: white;
}
.vänster3, .vänster6{
 background-color: #1b1b20;
}
.vänster4 h1{
  font-size: 40px;
  color: white;
  margin: 20px;

}
main{
  background-color: 	#1b1b20;

}
.fact {
  grid-row: 2 / 3;
  grid-column: 2/4;
  width: 90%;
  
}

.grid{
  background-color: #1b1b20;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 20vh 60vh 20vh;
}
.pic {
  display: flex;
  height: 80vh;
  grid-row: 4 / 4;
  grid-column: 1/4;
  background-image: url(www.webp);
  background-repeat: no-repeat;
  filter: blur(2.5px);
  background-size: 100%;
}
.mitt h1{
  font-size: 28px;
  justify-content: center;
  background-image: url(www.webp);
}
article{

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.down{
  font-size: 20px;
  color: white;
  background-color:#0c0b2c;
  grid-row: 5/5;
  grid-column: 4/1;
}
.down p {
  margin-top: 50px;
  margin-left: 10vh;
}
.www{
  margin: 50px;
  width: 500px;
}

.Vänstpic{
  background-color: #1b1b20;
  grid-row: 6/6;
  grid-column: 1/3;
}
.Högpic{
  background-color: #1b1b20;
  grid-row: 6/6;
  grid-column: 3/3;
}
.Mittpic{
  background-color: #0c0b2c;
  grid-row: 6/6;
  grid-column: 2/3;
  text-align: center;
  color: white;
  font-size: 20px;
}

.fördelar{
  background-color: #0c0b2c;
  grid-row: 7/7;
  grid-column: 1/2;
  text-align: center;
  color: white  ;
}
ul{
  list-style-type: none;
  margin-right: 40px;
}
li{
  margin: 20px;
}
.nackdelar{
  background-color: #0c0b2c;
  grid-row: 7/7;
  grid-column: 3/3;
  text-align: center;
  color: white;
}
.för{
  
}